<a href="https://colab.research.google.com/github/lakshmi-keerthi/MLPractice/blob/main/Retail_Sales_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Objectives

**Note: This data is proprietary please DO NOT share the dataset with anyone. The solution python notebook and test solution will NOT be provided.** </br>

The objective of this experiment is to help a leading retailer forecast the sales.
Forecasting is an important approach to plan the future effectively and efficiently. A leading
retailer in USA, wants to forecast sales for their product categories in their store based on the sales
history of each category. Sales forecast has very high influence on the performance of the company’s
business and hence these sales forecasts can be used to estimate company’s success or performance
in the coming year.
Accurate forecasts may lead to better decisions in business. Sales or revenues forecasting is
very important for retail operations. Forecasting of retail sales helps retailer to take necessary
measures to plan their budgets or investments in a period (monthly, yearly) among different product
categories like women clothing, men clothing and other clothing and at the same time they can
plan to minimize revenue loss from unavailability of products by investing accordingly.
Read more below..

## Kaggle link and deadline:


### 1. Link to the Kaggle problem: https://www.kaggle.com/t/2a9d40ecea1b439f85eb144cda62aae0

### 2. Deadlines:
  - **Competition closes @** Saturday 6:00 pm, 04/Apr/2020 IST
  - **Submit this Colab file with code to aimlkaggle@gmail.com:** Saturday 7.00pm 04/Apr/2020 IST

## Instructions:

- Create kaggle account and follow the steps for Team creation in Kaggle. Add your team-mates only to your Kaggle team. Refer to the document **MiniHackathon7 - kaggle Team Creation**
- There are four datasets and its attributes are detailed in the "Attributes description".
- Follow Stage1 to download the data.
- Build your own model(use any of the algorithms taught in class) and get the predictions for 2015 month-wise and product-wise (which give 36 rows)
- Copy the predictions in column B (Sales(In ThousandDollars)) of Sample_Submission csv file (ignore the header of column A)
- Upload the Sample_Submission csv file into Kaggle by clicking on Submit Predictions in Kaggle.
- The leaderboard takes and reflects your best submission until the specified deadline (maximum of 20 submissions per day).

## Evaluation:
Evaluation will be done based on the teams placed in the Kaggle leaderboard

**TotalMarks=30**
- Top 5 teams will be awarded 30 marks
- 6-10 teams will be awarded 28
- 11-15 teams will be awarded 26
- 16-20 teams will be awarded 24
- Rest of the teams will be awarded 22
- 0 Marks in case of 0 submssions

 ## Finally..
    Don't cheat!
    Apply yourself!
    Have fun!

## **Stage1:** Setting up colab for Kaggle competitions
This setup helps you directly access the datasets etc of the Kaggle competition.

### 1. Create an API key in Kaggle.

To do this, go to kaggle.com/ and open your user settings page. settings nav

![alt text](https://i.stack.imgur.com/jxGQv.png
)

### 2. Next, scroll down to the API access section and click generate to download an API key.
![alt text](https://i.stack.imgur.com/Hzlhp.png)

### 3. Upload your kaggle.json file using the following snippet in a code cell:

In [ ]:
from google.colab import files
files.upload()

{}

In [ ]:
#If successfully uploaded in the above step, the 'ls' command here should display the kaggle.json file.
%ls

kaggle.json  sample_data/

### 4. Install the kaggle API using following command

In [ ]:
!pip install -q kaggle

### 5. Move the kaggle.json file into ~/.kaggle, which is where the API client expects your token to be located:

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
#Execute the following command to verify whether the kaggle.json is stored in the appropriate location: ~/.kaggle/kaggle.json
ls ~/.kaggle

kaggle.json

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json #run this command to ensure your Kaggle API token is secure on colab

### 6. Now download the data

In [ ]:
!mkdir data

**NOTE: If you get a '404 - Not Found' error after running the cell below, it is mostly likely that the user (whose kaggle.json is uploaded above) has not 'accepted' the rules of the competition and therefore has 'not joined' the competition.**

In [ ]:
#If you get a forbidden link, you have most likely not joined the competition.

!kaggle competitions download -c retailcasestudy-b12 -p data

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading WeatherData.xlsx to data
  0% 0.00/281k [00:00<?, ?B/s]
100% 281k/281k [00:00<00:00, 86.3MB/s]
Downloading Events_HolidaysData.xlsx to data
  0% 0.00/12.4k [00:00<?, ?B/s]
100% 12.4k/12.4k [00:00<00:00, 11.7MB/s]
Downloading AttributesDescription.xlsx to data
  0% 0.00/10.2k [00:00<?, ?B/s]
100% 10.2k/10.2k [00:00<00:00, 10.0MB/s]
Downloading Sample_Submission.csv to data
  0% 0.00/309 [00:00<?, ?B/s]
100% 309/309 [00:00<00:00, 295kB/s]
Downloading Test_Kaggle.csv to data
  0% 0.00/793 [00:00<?, ?B/s]
100% 793/793 [00:00<00:00, 706kB/s]
Downloading MacroEconomicData.xlsx to data
  0% 0.00/17.4k [00:00<?, ?B/s]
100% 17.4k/17.4k [00:00<00:00, 17.9MB/s]
Downloading Train_Kaggle.csv to data
  0% 0.00/5.31k [00:00<?, ?B/s]
100% 5.31k/5.31k [00:00<00:00, 5.50MB/s]

## **Stage 2:** YOUR CODE to crack the Kaggle problem here.

1.  Get the Sales prediction for the 2015 month-wise and product-wise (which give 36 rows).

2.  Copy the predictions in Sample_Submission.csv (in Sales(In ThousandDollars)) and upload into Kaggle.

After uploading the predictions in Kaggle, the RMSE score will be displayed on leaderboard.

**Note: It is best advised to write all the code here. (If for any reason you are using other colab files,you might know already it is easy to select cells, cut and paste in Colab, and hence you could cut and paste it here)**

In [ ]:
# Load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [ ]:
# Reading the datasets
train = pd.read_csv('/content/data/Train_Kaggle.csv') # 84 rows and 4 cols
test = pd.read_csv('/content/data/Test_Kaggle.csv')
#train = pd.read_csv('Train_Kaggle.csv')
#test = pd.read_csv('Test_Kaggle.csv')
weather = pd.read_excel("/content/data/WeatherData.xlsx")
economic = pd.read_excel("/content/data/MacroEconomicData.xlsx")
holiday = pd.read_excel("/content/data/Events_HolidaysData.xlsx")
economic.shape

(96, 18)

In [ ]:
train.shape

(216, 4)

In [ ]:
test

    Year  Month ProductCategory  Sales(In ThousandDollars)
0   2015      1   WomenClothing                        NaN
1   2015      1     MenClothing                        NaN
2   2015      1   OtherClothing                        NaN
3   2015      2   WomenClothing                        NaN
4   2015      2     MenClothing                        NaN
5   2015      2   OtherClothing                        NaN
6   2015      3   WomenClothing                        NaN
7   2015      3     MenClothing                        NaN
8   2015      3   OtherClothing                        NaN
9   2015      4   WomenClothing                        NaN
10  2015      4     MenClothing                        NaN
11  2015      4   OtherClothing                        NaN
12  2015      5   WomenClothing                        NaN
13  2015      5     MenClothing                        NaN
14  2015      5   OtherClothing                        NaN
15  2015      6   WomenClothing                        NaN
16  2015      6     MenClothing                        NaN
17  2015      6   OtherClothing                        NaN
18  2015      7   WomenClothing                        NaN
19  2015      7     MenClothing                        NaN
20  2015      7   OtherClothing                        NaN
21  2015      8   WomenClothing                        NaN
22  2015      8     MenClothing                        NaN
23  2015      8   OtherClothing                        NaN
24  2015      9   WomenClothing                        NaN
25  2015      9     MenClothing                        NaN
26  2015      9   OtherClothing                        NaN
27  2015     10   WomenClothing                        NaN
28  2015     10     MenClothing                        NaN
29  2015     10   OtherClothing                        NaN
30  2015     11   WomenClothing                        NaN
31  2015     11     MenClothing                        NaN
32  2015     11   OtherClothing                        NaN
33  2015     12   WomenClothing                        NaN
34  2015     12     MenClothing                        NaN
35  2015     12   OtherClothing                        NaN

In [ ]:
weather.shape

(365, 23)

In [ ]:
holiday.shape

(150, 4)

In [ ]:
economic.shape

(96, 18)

In [ ]:
print(train.columns)

Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')

In [ ]:
print(test.columns)

Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')

In [ ]:
print(weather.columns)

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [ ]:
print(economic.columns)

Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports'],
      dtype='object')

In [ ]:
print(holiday.columns)

Index(['Year', 'MonthDate', 'Event', 'DayCategory'], dtype='object')

In [ ]:
# Check missing values in each data set
train.isnull().sum() # There are 4 missing values in women sales
train
print(train.shape, test.shape)

(216, 4) (36, 4)

In [ ]:
train = train.fillna(train.median())

In [ ]:
# Pre process train dataset for ease
def preprocess(dataset):
    dataset.columns = ['year','month','productcategory','target'] #Renamed the columns
    dataset[['year','month']] = dataset[['year','month']].astype(str)
    dataset['year-month'] = dataset.year.str[:4] + "-" + dataset.month.str[:2] # Add a new column to join later
    dataset = dataset[['target','year-month']]
    return dataset
train = preprocess(train)
test = preprocess(test)

In [ ]:
test

    target year-month
0      NaN     2015-1
1      NaN     2015-1
2      NaN     2015-1
3      NaN     2015-2
4      NaN     2015-2
5      NaN     2015-2
6      NaN     2015-3
7      NaN     2015-3
8      NaN     2015-3
9      NaN     2015-4
10     NaN     2015-4
11     NaN     2015-4
12     NaN     2015-5
13     NaN     2015-5
14     NaN     2015-5
15     NaN     2015-6
16     NaN     2015-6
17     NaN     2015-6
18     NaN     2015-7
19     NaN     2015-7
20     NaN     2015-7
21     NaN     2015-8
22     NaN     2015-8
23     NaN     2015-8
24     NaN     2015-9
25     NaN     2015-9
26     NaN     2015-9
27     NaN    2015-10
28     NaN    2015-10
29     NaN    2015-10
30     NaN    2015-11
31     NaN    2015-11
32     NaN    2015-11
33     NaN    2015-12
34     NaN    2015-12
35     NaN    2015-12

In [ ]:
print(train.shape)

(216, 2)

In [ ]:
train.head

<bound method NDFrame.head of      target year-month
0    1755.0     2009-1
1     524.0     2009-1
2     936.0     2009-1
3    1729.0     2009-2
4     496.0     2009-2
..      ...        ...
211   803.0    2014-11
212  1468.0    2014-11
213  5664.0    2014-12
214  1070.0    2014-12
215  1967.0    2014-12

[216 rows x 2 columns]>

In [ ]:
print(test.shape)
test.head

(36, 2)

<bound method NDFrame.head of     target year-month
0      NaN     2015-1
1      NaN     2015-1
2      NaN     2015-1
3      NaN     2015-2
4      NaN     2015-2
5      NaN     2015-2
6      NaN     2015-3
7      NaN     2015-3
8      NaN     2015-3
9      NaN     2015-4
10     NaN     2015-4
11     NaN     2015-4
12     NaN     2015-5
13     NaN     2015-5
14     NaN     2015-5
15     NaN     2015-6
16     NaN     2015-6
17     NaN     2015-6
18     NaN     2015-7
19     NaN     2015-7
20     NaN     2015-7
21     NaN     2015-8
22     NaN     2015-8
23     NaN     2015-8
24     NaN     2015-9
25     NaN     2015-9
26     NaN     2015-9
27     NaN    2015-10
28     NaN    2015-10
29     NaN    2015-10
30     NaN    2015-11
31     NaN    2015-11
32     NaN    2015-11
33     NaN    2015-12
34     NaN    2015-12
35     NaN    2015-12>

In [ ]:
# Cleaned the weatherdata
weather_2009 = pd.read_excel("/content/data/Weather_2009.xlsx")
weather_2010 = pd.read_excel("/content/data/Weather_2010.xlsx")
weather_2011 = pd.read_excel("/content/data/Weather_2011.xlsx")
weather_2012 = pd.read_excel("/content/data/Weather_2012.xlsx")
weather_2013 = pd.read_excel("/content/data/Weather_2013.xlsx")
weather_2014 = pd.read_excel("/content/data/Weather_2014.xlsx")
weather_2015 = pd.read_excel("/content/data/Weather_2015.xlsx")
weather_2016 = pd.read_excel("/content/data/Weather_2016.xlsx")

In [ ]:
# Process weather
def process_weather(df):
    # Rename columns for ease
    df.columns = ['year', 'month','day','temp_high','temp_avg','temp_low','dew_point_high','dew_point_avg',
                  'dew_point_low','humidity_high','humidity_avg','humidity_low','pressure_high','pressure_avg','pressure_low',
                 'visibility_high','visibility_avg','visibility_low','wind_low','wind_avg','wind_high','precip_sum','weatherevent']
    # Convert year and day into strings
    df[['year', 'day','month','precip_sum','weatherevent']] = df[['year', 'day','month','precip_sum','weatherevent']].astype(str)

    # Convert all other columns to numerics
    df[['temp_high','temp_avg','temp_low','dew_point_high','dew_point_avg',
                  'dew_point_low','humidity_high','humidity_avg','humidity_low','pressure_high','pressure_avg','pressure_low',
                 'visibility_high','visibility_avg','visibility_low','wind_low','wind_avg','wind_high']] = df[['temp_high','temp_avg','temp_low','dew_point_high','dew_point_avg',
                  'dew_point_low','humidity_high','humidity_avg','humidity_low','pressure_high','pressure_avg','pressure_low',
                 'visibility_high','visibility_avg','visibility_low','wind_low','wind_avg','wind_high']].apply(pd.to_numeric, errors = "coerce")

    # Fill missing values with median of that column # Try mode/mean
    df = df.fillna(df.median())

    # Scaled all the numerical attributes using range method (simple custom function below)
    df_num = df.select_dtypes(include=[np.number]) # Only include numeric columns
    df_norm = (df_num - df_num.mean()) / (df_num.max() - df_num.min()) # Scale the numeric col
    df[df_norm.columns] = df_norm # Add them back to the original dataframe
    return df

In [ ]:
def aggregate_weather(df):
    #Convert year to int
    df['year'] = df['year'].astype(int)
    # Group by month all the weather attributes
    df_aggregate_weather = df.groupby('month').mean()

    #Insert the month columns
    month = ["4", "8", "12", "2", "1","7", "6", "3", "5", "11", "10", "9"]
    df_aggregate_weather.insert(loc=0, column='month', value=month)

    # Convert year back for str
    df_aggregate_weather['year'] = df_aggregate_weather['year'].astype(str)

    # Insert a new column 'year-month' that would be useful for future join
    df_aggregate_weather['year-month'] = df_aggregate_weather.year.str[:4] + "-" + df_aggregate_weather.month.str[:2]

    # Convert month back to int
    df_aggregate_weather['month'] = df_aggregate_weather['month'].astype(int)
    return df_aggregate_weather

In [ ]:
df1 = aggregate_weather(process_weather(weather_2009))
df2 = aggregate_weather(process_weather(weather_2010))
df3 = aggregate_weather(process_weather(weather_2011))
df4 = aggregate_weather(process_weather(weather_2012))
df5 = aggregate_weather(process_weather(weather_2013))
df6 = aggregate_weather(process_weather(weather_2013))
df7 = aggregate_weather(process_weather(weather_2015))
df8 = aggregate_weather(process_weather(weather_2016))

In [ ]:
# Merge with the train set
df_new = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
train_weather = train.merge(df_new, on='year-month', how = 'left')
test_weather = test.merge(df_new, on='year-month', how = 'left')

print(train_weather.shape, test_weather.shape)

(252, 22) (36, 22)

In [ ]:
train_weather.head

<bound method NDFrame.head of      target year-month  month  ...  wind_low  wind_avg  wind_high
0    1755.0     2009-1    1.0  ...  0.064239  0.078247   0.054535
1     524.0     2009-1    1.0  ...  0.064239  0.078247   0.054535
2     936.0     2009-1    1.0  ...  0.064239  0.078247   0.054535
3    1729.0     2009-2    2.0  ...  0.088675  0.086818   0.089690
4     496.0     2009-2    2.0  ...  0.088675  0.086818   0.089690
..      ...        ...    ...  ...       ...       ...        ...
247   803.0    2014-11    NaN  ...       NaN       NaN        NaN
248  1468.0    2014-11    NaN  ...       NaN       NaN        NaN
249  5664.0    2014-12    NaN  ...       NaN       NaN        NaN
250  1070.0    2014-12    NaN  ...       NaN       NaN        NaN
251  1967.0    2014-12    NaN  ...       NaN       NaN        NaN

[252 rows x 22 columns]>

In [ ]:
X_train_weather = train_weather.drop(['year-month','year'], axis =1).iloc[:,1:]
Y = train_weather[['target']] #Y = train["target"]
print(X_train_weather.shape, Y.shape)

(252, 19) (252, 1)

In [ ]:
X_test_weather = test_weather.drop(['year-month','year','target'], axis =1)
X_test_weather.shape

(36, 19)

In [ ]:
def process_economic(df):
    # Rename columns for ease
    df.columns = ['year-month', 'gdp','realgdp','cpi','party',
                  'unemployment','interestrate',
                  'financerate','wagesperhour','adv',
                  'cotton','cottonchange','planted','harvested','yield',
                 'production','usage','exports']
    # Convert year into strings
    df[['year-month']] = df[['year-month']].astype(str)

    # Drop Adversitising, Party
    df = df.drop(['adv','party'], axis=1)
    # Convert all other columns to numerics
    df[['gdp','realgdp','cpi','unemployment','interestrate',
       'financerate','wagesperhour','cotton','cottonchange','planted','harvested','yield',
                 'production','usage','exports']] = df[['gdp','realgdp','cpi','unemployment','interestrate',
       'financerate','wagesperhour','cotton','cottonchange','planted','harvested','yield',
                 'production','usage','exports']].apply(pd.to_numeric, errors = "coerce")

    # Fill missing values with median of that column # Try mode/mean
    df = df.fillna(df.median())

    # Scaled all the numerical attributes using range method (simple custom function below)
    df_num = df.select_dtypes(include=[np.number]) # Only include numeric columns
    df_norm = (df_num - df_num.mean()) / (df_num.max() - df_num.min()) # Scale the numeric col
    df[df_norm.columns] = df_norm # Add them back to the original dataframe
    return df

In [ ]:
X_train_weather.shape

(252, 19)

In [ ]:
# Merging Economic Data with train_weather

#train_weather_economic = pd.concat([X_train_weather, X_test_weather], axis=0)
train_weath_econ = pd.concat([train_weather, process_economic(economic.iloc[0:36,:])], axis=1)
train_weath_econ = train_weath_econ.drop(['year-month','year'],axis=1) # 84 rows & 36 cols
# # Merging Economic Data with test_weather
#test_weath_econ = pd.read_excel("MacroEconomicData.xlsx") # 12 rows 36 cols
test_weath_econ = pd.concat([test_weather, process_economic(economic.iloc[0:36,:])], axis=1)
test_weath_econ = test_weath_econ.drop(['year-month','year'],axis=1)
#test_weath_econ = test_weath_econ.drop(['Year-Month', 'PartyInPower', 'AdvertisingExpenses (in Thousand Dollars)'], axis=1) #12 rows & 35 cols

print(train_weath_econ.shape, test_weath_econ.shape)

(252, 35) (36, 35)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
test_weath_econ

    target  month  temp_high  ...  production     usage   exports
0      NaN      1  -0.363685  ...   -0.336755  0.675047 -0.128908
1      NaN      1  -0.363685  ...   -0.336755  0.339851 -0.209553
2      NaN      1  -0.363685  ...   -0.336755  0.172253 -0.110987
3      NaN      2  -0.416948  ...   -0.365288  0.060521 -0.007940
4      NaN      2  -0.416948  ...   -0.367703 -0.051210  0.005501
5      NaN      2  -0.416948  ...   -0.293428 -0.107076 -0.352922
6      NaN      3  -0.248156  ...   -0.295390 -0.107076 -0.460449
7      NaN      3  -0.248156  ...   -0.298863 -0.107076 -0.460449
8      NaN      3  -0.248156  ...   -0.263990 -0.107076 -0.406686
9      NaN      4  -0.020049  ...   -0.330415 -0.218808 -0.406686
10     NaN      4  -0.020049  ...   -0.406200 -0.218808 -0.415646
11     NaN      4  -0.020049  ...   -0.391707 -0.218808 -0.330521
12     NaN      5   0.180201  ...   -0.424014 -0.218808 -0.335001
13     NaN      5   0.180201  ...   -0.424014 -0.218808 -0.155790
14     NaN      5   0.180201  ...   -0.424014 -0.107076 -0.160270
15     NaN      6   0.183052  ...   -0.463265 -0.107076 -0.162062
16     NaN      6   0.183052  ...   -0.457679 -0.213222 -0.166542
17     NaN      6   0.183052  ...    0.208384 -0.324953  0.139909
18     NaN      7   0.279976  ...    0.442381 -0.218808  0.274318
19     NaN      7   0.279976  ...    0.485558 -0.218808  0.404246
20     NaN      7   0.279976  ...    0.531904  0.004655  0.493852
21     NaN      8   0.292729  ...    0.536735  0.004655  0.493852
22     NaN      8   0.292729  ...    0.468045 -0.162942  0.538655
23     NaN      8   0.292729  ...    0.445401 -0.051210  0.538655
24     NaN      9   0.237315  ...    0.452496 -0.000931  0.539551
25     NaN      9   0.237315  ...    0.452496 -0.000931  0.539551
26     NaN      9   0.237315  ...    0.452496 -0.000931  0.539551
27     NaN     10   0.015160  ...    0.419283  0.110801  0.539551
28     NaN     10   0.015160  ...    0.419736  0.216946  0.492956
29     NaN     10   0.015160  ...    0.226952  0.228119  0.023422
30     NaN     11  -0.067336  ...    0.061192  0.228119 -0.169230
31     NaN     11  -0.067336  ...    0.150564  0.228119 -0.110987
32     NaN     11  -0.067336  ...    0.150866  0.233706 -0.169230
33     NaN     12  -0.101869  ...    0.158716  0.233706 -0.258836
34     NaN     12  -0.101869  ...    0.112218  0.233706 -0.294678
35     NaN     12  -0.101869  ...    0.040811  0.010242 -0.290198

[36 rows x 35 columns]

In [ ]:
# Create X and Y for weather_economic merge
X_train_eco = train_weath_econ.iloc[:,1:] # 84 rows 35 cols
Y_eco = train_weath_econ[['target']] # 84 rows 1 cols

print(X_train_eco.shape, Y_eco.shape)

(252, 34) (252, 1)

In [ ]:
# Modelling
#Split the data

x_train = X_train_eco.iloc[0:36,:]
x_val = X_train_eco.iloc[36:,:]
y_train = Y_eco.iloc[0:36,:]
y_val = Y_eco.iloc[36:,:]
#y_val

#dtrain = xgb.DMatrix(x_train, label=y_train)
#dvalid = xgb.DMatrix(x_val, label=y_val)
# dtest = xgb.DMatrix(test[feature_names].values)
#watchlist = [(dtrain, 'train'), (dvalid, 'valid')]

In [ ]:
print(X_train_eco.shape, Y_eco.shape)

(252, 34) (252, 1)

In [ ]:
test_weath_econ.shape

(36, 35)

In [ ]:
test_weath_econ.shape

(36, 35)

In [ ]:
def process_eco(df):
    #Convert year to int
    df = df.drop(['year-month'], axis=1)
    #df = df.drop(['target'], axis=1)
    df = df.drop(['year'], axis=1)
    #df = df.drop(['PartyInPower'], axis=1)
    #df['AdvertisingExpenses (in Thousand Dollars)'] = df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', np.nan)
    #df['AdvertisingExpenses (in Thousand Dollars)'] = df['AdvertisingExpenses (in Thousand Dollars)'].fillna(df['AdvertisingExpenses (in Thousand Dollars)'].median())
    #df['AdvertisingExpenses (in Thousand Dollars)'] = df['AdvertisingExpenses (in Thousand Dollars)'].astype(int)
    #df['PartyInPower'] = df['PartyInPower'].astype(int)
    return df

In [ ]:
#test_weath_econ = process_eco(test_weath_econ)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def process_holiday(df):
    # Rename columns for ease
    df.columns = ['year', 'month-date','event','dat-category']
    # Convert year into strings
    #df[['year-month']] = df[['year-month']].astype(str)

    # Drop Adversitising, Party
    #df = df.drop(['adv','party'], axis=1)
    # Convert all other columns to numerics
    df[['year', 'month-date','event','dat-category']].apply(pd.to_numeric, errors = "coerce")

    # Fill missing values with median of that column # Try mode/mean
    df = df.fillna(df.median())

    le.fit(df['event'])
    df['event'] = le.transform(df['event'])
    le.fit(df['dat-category'])
    df['dat-category'] = le.transform(df['dat-category'])

    # Scaled all the numerical attributes using range method (simple custom function below)
    df_num = df.select_dtypes(include=[np.number]) # Only include numeric columns
    df_norm = (df_num - df_num.mean()) / (df_num.max() - df_num.min()) # Scale the numeric col
    df[df_norm.columns] = df_norm # Add them back to the original dataframe
    return df

In [ ]:
# Merging Hoilday Data with train_eco

train_weath_holiday = pd.concat([train_weath_econ, process_holiday(holiday.iloc[0:36,:])], axis=1)
train_weath_holiday = train_weath_holiday.drop(['month-date','year'],axis=1) # 84 rows & 36 cols
# # Merging Hoilday Data with test_eco
test_weath_holiday = pd.concat([test_weath_econ, process_holiday(holiday.iloc[0:36,:])], axis=1)

print(train_weath_holiday.shape, test_weath_holiday.shape)

(252, 37) (36, 39)

In [ ]:
def process_holi(df):
    #Convert year to int
    df = df.drop(['month-date'], axis=1)
    df = df.drop(['target'], axis=1)
    df = df.drop(['year'], axis=1)

    le.fit(df['event'])
    df['event'] = le.transform(df['event'])
    le.fit(df['dat-category'])
    df['dat-category'] = le.transform(df['dat-category'])

    df = df.fillna(df.median())

    return df

In [ ]:
Y_holi_test = test_weath_holiday[['target']]

In [ ]:
test_weath_holiday

    target  month  temp_high  temp_avg  ...  year  month-date     event  dat-category
0      NaN      1  -0.363685 -0.348122  ...  -0.5  2001-01-01  0.216049      0.361111
1      NaN      1  -0.363685 -0.348122  ...  -0.5  2019-01-01  0.049383      0.361111
2      NaN      1  -0.363685 -0.348122  ...  -0.5  2014-02-01  0.438272     -0.638889
3      NaN      2  -0.416948 -0.422953  ...  -0.5  2016-02-01  0.327160      0.361111
4      NaN      2  -0.416948 -0.422953  ...  -0.5  2012-04-01 -0.228395     -0.638889
5      NaN      2  -0.416948 -0.422953  ...  -0.5  2010-05-01  0.160494     -0.638889
6      NaN      3  -0.248156 -0.242346  ...  -0.5  2025-05-01  0.104938      0.361111
7      NaN      3  -0.248156 -0.242346  ...  -0.5  2021-06-01 -0.172840     -0.638889
8      NaN      3  -0.248156 -0.242346  ...  -0.5  2003-07-01 -0.450617      0.361111
9      NaN      4  -0.020049 -0.032643  ...  -0.5  2004-07-01 -0.061728      0.361111
10     NaN      4  -0.020049 -0.032643  ...  -0.5  2007-09-01 -0.006173      0.361111
11     NaN      4  -0.020049 -0.032643  ...  -0.5  2012-10-01 -0.283951      0.361111
12     NaN      5   0.180201  0.152253  ...  -0.5  1931-10-01 -0.117284     -0.638889
13     NaN      5   0.180201  0.152253  ...  -0.5  2011-11-01  0.493827      0.361111
14     NaN      5   0.180201  0.152253  ...  -0.5  2026-11-01  0.382716      0.361111
15     NaN      6   0.183052  0.184411  ...  -0.5  2024-12-01 -0.339506     -0.638889
16     NaN      6   0.183052  0.184411  ...  -0.5  2025-12-01 -0.395062      0.361111
17     NaN      6   0.183052  0.184411  ...  -0.5  1931-12-01  0.271605     -0.638889
18     NaN      7   0.279976  0.283536  ...   0.5  2001-01-01  0.216049      0.361111
19     NaN      7   0.279976  0.283536  ...   0.5  2018-01-01  0.049383      0.361111
20     NaN      7   0.279976  0.283536  ...   0.5  2014-02-01  0.438272     -0.638889
21     NaN      8   0.292729  0.288037  ...   0.5  2015-02-01  0.327160      0.361111
22     NaN      8   0.292729  0.288037  ...   0.5  2004-04-01 -0.228395     -0.638889
23     NaN      8   0.292729  0.288037  ...   0.5  2009-05-01  0.160494     -0.638889
24     NaN      9   0.237315  0.227047  ...   0.5  1931-05-01  0.104938      0.361111
25     NaN      9   0.237315  0.227047  ...   0.5  2020-06-01 -0.172840     -0.638889
26     NaN      9   0.237315  0.227047  ...   0.5  2004-07-01 -0.061728      0.361111
27     NaN     10   0.015160  0.012718  ...   0.5  2005-07-01 -0.450617      0.361111
28     NaN     10   0.015160  0.012718  ...   0.5  2006-09-01 -0.006173      0.361111
29     NaN     10   0.015160  0.012718  ...   0.5  2011-10-01 -0.283951      0.361111
30     NaN     11  -0.067336 -0.053573  ...   0.5  1931-10-01 -0.117284     -0.638889
31     NaN     11  -0.067336 -0.053573  ...   0.5  2011-11-01  0.493827      0.361111
32     NaN     11  -0.067336 -0.053573  ...   0.5  2025-11-01  0.382716      0.361111
33     NaN     12  -0.101869 -0.078805  ...   0.5  2024-12-01 -0.506173      0.361111
34     NaN     12  -0.101869 -0.078805  ...   0.5  2024-12-01 -0.339506     -0.638889
35     NaN     12  -0.101869 -0.078805  ...   0.5  2025-12-01 -0.395062      0.361111

[36 rows x 39 columns]

In [ ]:

test_weath_holiday = process_holi(test_weath_holiday)
#test_weath_holiday.head

In [ ]:
# Create X and Y for weather_economic_holiday merge
X_train_holi = train_weath_holiday.iloc[:,1:]
X_train_holi = X_train_holi.fillna(X_train_holi.median())
Y_holi = train_weath_holiday[['target']]

print(X_train_holi.shape, Y_eco.shape)

(252, 36) (252, 1)

In [ ]:
print(X_train_holi.iloc[10])

month              4.000000
temp_high          0.023907
temp_avg           0.007580
temp_low          -0.016498
dew_point_high    -0.047804
dew_point_avg     -0.064564
dew_point_low     -0.075119
humidity_high     -0.091687
humidity_avg      -0.129008
humidity_low      -0.158881
pressure_high     -0.036136
pressure_avg      -0.052367
pressure_low      -0.054473
visibility_high   -0.025114
visibility_avg     0.015145
visibility_low     0.020947
wind_low           0.072134
wind_avg           0.052913
wind_high          0.058233
gdp               -0.247264
realgdp           -0.200941
cpi               -0.176319
unemployment       0.284091
interestrate       0.134903
financerate        0.205247
wagesperhour      -0.111111
cotton            -0.197503
cottonchange       0.116183
planted           -0.270577
harvested         -0.415941
yield             -0.333333
production        -0.406200
usage             -0.218808
exports           -0.415646
event             -0.006173
dat-category       0.361111
Name: 10, dtype: float64

In [ ]:
# rmse function
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [ ]:
test_weath_holiday.dtypes
test_weath_holiday = test_weath_holiday.drop(['month'],axis=1)
X_train_holi = X_train_holi.drop(['month'],axis=1)

print(X_train_holi.cov())

                 temp_high  temp_avg  ...     event  dat-category
temp_high         0.036931  0.037725  ...  0.001069     -0.000869
temp_avg          0.037725  0.038671  ...  0.001091     -0.000845
temp_low          0.037295  0.038349  ...  0.001108     -0.000966
dew_point_high    0.036059  0.037103  ...  0.000993     -0.001035
dew_point_avg     0.036116  0.037217  ...  0.001020     -0.001177
dew_point_low     0.037642  0.038842  ...  0.001078     -0.001266
humidity_high     0.011759  0.012310  ... -0.000008     -0.000568
humidity_avg      0.007639  0.008206  ...  0.000154     -0.000817
humidity_low      0.004062  0.004631  ...  0.000300     -0.000853
pressure_high    -0.006947 -0.007094  ... -0.000293      0.000661
pressure_avg     -0.002306 -0.002349  ... -0.000061      0.000347
pressure_low      0.000965  0.001005  ...  0.000114      0.000201
visibility_high  -0.000242 -0.000298  ...  0.000009      0.000034
visibility_avg   -0.000549 -0.000691  ... -0.000015      0.000215
visibility_low   -0.004253 -0.004513  ...  0.000124      0.000821
wind_low         -0.011288 -0.011691  ... -0.000652      0.000639
wind_avg         -0.011712 -0.012082  ... -0.000779      0.000694
wind_high        -0.009266 -0.009629  ... -0.000608      0.000526
gdp               0.002174  0.002583  ... -0.002731      0.002108
realgdp           0.002954  0.003346  ... -0.002637      0.003787
cpi               0.001303  0.001605  ... -0.002899      0.000298
unemployment      0.003866  0.003724  ... -0.000516      0.000847
interestrate      0.004820  0.004707  ...  0.000390      0.000497
financerate      -0.000974 -0.001058  ...  0.000250     -0.000122
wagesperhour      0.001954  0.002285  ... -0.003077      0.001319
cotton            0.003559  0.003875  ... -0.002291     -0.004203
cottonchange      0.002679  0.002651  ...  0.000621     -0.002433
planted          -0.000853 -0.000529  ... -0.001850      0.000728
harvested         0.005851  0.006413  ... -0.000025      0.005678
yield             0.001546  0.001681  ...  0.002408      0.001149
production        0.005217  0.005689  ...  0.000740      0.001883
usage            -0.003559 -0.003430  ...  0.000522      0.000805
exports           0.006137  0.006491  ...  0.002468     -0.007797
event             0.001069  0.001091  ...  0.012714      0.000710
dat-category     -0.000869 -0.000845  ...  0.000710      0.049121

[35 rows x 35 columns]

In [ ]:
print(X_train_holi)

     temp_high  temp_avg  temp_low  ...   exports     event  dat-category
0    -0.365570 -0.363173 -0.362707  ... -0.128908  0.216049      0.361111
1    -0.365570 -0.363173 -0.362707  ... -0.209553  0.049383      0.361111
2    -0.365570 -0.363173 -0.362707  ... -0.110987  0.438272     -0.638889
3    -0.217419 -0.241111 -0.265872  ... -0.007940  0.327160      0.361111
4    -0.217419 -0.241111 -0.265872  ...  0.005501 -0.228395     -0.638889
..         ...       ...       ...  ...       ...       ...           ...
247   0.001859  0.008622 -0.001068  ... -0.142349 -0.006173      0.361111
248   0.001859  0.008622 -0.001068  ... -0.142349 -0.006173      0.361111
249   0.001859  0.008622 -0.001068  ... -0.142349 -0.006173      0.361111
250   0.001859  0.008622 -0.001068  ... -0.142349 -0.006173      0.361111
251   0.001859  0.008622 -0.001068  ... -0.142349 -0.006173      0.361111

[252 rows x 35 columns]

In [ ]:
import xgboost as xgb
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from pandas import datetime
from statsmodels.tsa.arima_model import ARIMA
from sklearn.model_selection import GridSearchCV

In [ ]:
#test_weath_holiday['year-month']=test_weath_holiday['year-month'].astype(str)
#test_weath_holiday['year'] = test_weath_holiday['year-month'].str.split('-' , 1, ).str[0]
#test_weath_holiday['month'] = test_weath_holiday['year-month'].str.split('-', 1, ).str[1]
#test_weath_holiday['year']= test_weath_holiday['year'].astype(int)
#test_weath_holiday['month']= test_weath_holiday['month'].astype(int)

In [ ]:
# XGBRegressor
# A parameter grid for XGBoost
params = {'min_child_weight':[4,5], 'gamma':[i/10.0 for i in range(3,6)],  'subsample':[i/10.0 for i in range(6,11)],
'colsample_bytree':[i/10.0 for i in range(6,11)], 'max_depth': [2,3,4]}

model_xgbr = XGBRegressor(nthread=-1)
model_xgbr = GridSearchCV(model_xgbr, params)
model_xgbr.fit(X_train_holi, Y_holi)

y_test_xgb = model_xgbr.best_estimator_.predict(test_weath_holiday)
y_test_xgb_score = model_xgbr.score(test_weath_holiday, y_test_xgb)
#print(test_weath_holiday.values.shape)
rmse_xgb_value = rmse(y_test_xgb,test_weath_holiday.values)

In [ ]:
regr = RandomForestRegressor(n_estimators=20, criterion='mse', max_depth=None,
                      min_samples_split=2, min_samples_leaf=1,
                      min_weight_fraction_leaf=0.0, max_features='auto',
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, bootstrap=True,
                      oob_score=False, n_jobs=1, random_state=None,
                      verbose=2, warm_start=False)
regr.fit(X_train_holi, Y_holi)
y_pred = regr.predict(test_weath_holiday)

#rms = math.sqrt(mean_squared_error(y_test, y_pred))
print(y_pred)

building tree 1 of 20
building tree 2 of 20
building tree 3 of 20
building tree 4 of 20
building tree 5 of 20
building tree 6 of 20
building tree 7 of 20
building tree 8 of 20
building tree 9 of 20
building tree 10 of 20
building tree 11 of 20
building tree 12 of 20
building tree 13 of 20
building tree 14 of 20
building tree 15 of 20
building tree 16 of 20
building tree 17 of 20
building tree 18 of 20
building tree 19 of 20
building tree 20 of 20
[1978.68113095 1506.17708333 1581.71208333 1546.00154762 1237.30988095
 1315.58916667 1494.4860143  1499.81696668 1537.71696668 1548.0622619
 1321.6122619  1241.7622619  1645.25041667 1442.84333333 1422.93083333
 1808.53       1603.47801587 1490.2502381  1758.84392857 1499.1275
 1736.2525     1757.42565476 1579.68333333 1601.28333333 1703.97188645
 1322.11438645 1336.34771978 1563.10964286 1469.40964286 1479.15130952
 1529.13125    1221.88125    1392.24432692 1877.5875     1845.5375
 1978.3625    ]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished

In [ ]:
# LinearRegression
model_lrm = LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)
model_lrm.fit(X_train_holi, Y_holi)

y_test_lrm = model_lrm.predict(test_weath_holiday)
y_test_lrm_score = model_lrm.score(test_weath_holiday, y_test_lrm)
rmse_lrm_value = rmse(y_test_lrm, test_weath_holiday.values)

In [ ]:
print(rmse_lrm_value)

2073.1208378107135

In [ ]:
y_test_lrm.shape

(36, 1)

## **Stage 3:** Each time you submit in kaggle, ensure that the code given by you in Stage2 gives the same result. Follow the steps for the validation:
### a) Enter your Kaggle RMSE in the form below
### b) After entering RMSE below, go to File->'Save and pin revision' (To ensure you do so, you are asked to mark 'Yes' to the instruction asking the same)
**Note: The Shortcut for 'Save and pin revision' is Ctrl+M+S**</br>
**Note: You can check if the action has succeeded by going to File->Revision History and you'll find "PIN" checkbox checked if successful.**


- This action ensures there is 'proof of code' for each submission you make.
- If you submit your results in Kaggle, and get a leaderboard RMSE score, but you don't follow the steps asked above, then your **score will NOT be considered**, as we don't have the proof of your code. (We map the 'proof of code' by mapping it to your "RMSE+Time of save+pin"). In other words, if you want your RMSE score to be considered you have to follow the process.
- However for trial submission (RMSE scores you don't care about being considered, as you're still experimenting in your initial attempts) you don't have to follow the process above.
- **One member from your team can collect all your team-members colab links and email the link to aimlkaggle@gmail.com as per deadlines.**
- **FINALLY: "Do NOT download and reupload this file as all the revision history will be lost"**

# Submit your RMSE value below:

Eg:   RMSEValue:     234.07

In [ ]:
#@title Submission details are:

RMSEValue = '1512.45421' #@param {type:"string"}
Execute_Save_and_Pin_revision_now = 'Yes' #@param ['Yes','No']